#components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .white-text{
    color: white;
  }

  .site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  }

  .ant-form-item-label > label::after {
    content: '';
  }

  .ant-form-item-required::after{
    display: inline-block!important;
      margin-right: 4px!important;
      color: #ff4d4f!important;
      font-size: 14px!important;
      font-family: SimSun, sans-serif!important;
      line-height: 1!important;
      content: '*'!important;
  }

  .ant-form-item-required::before{
      content: ''!important;
  }

  .app-background{
    background-color: #001529;
  }

  .ant-table-title{
    font-size: 20px !important;
    font-weight: 500 !important;
  }

  .footer{
    color: white !important;
    height: 60;
    text-align: center;
    background-color: #001529 !important;
    bottom: 0;
    width: 100%;
  }

  .hyperlink:hover{
    text-decoration: underline;
  }

  .button-view{
    background-color: green !important;
    border: 0;
  }

  .button-view:hover{
    background-color: rgb(0, 194, 0) !important;
  }
